---
extension: xml
layout: false
dirty: true
filter:
- erb
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
 
  <title>A New Atom Feed</title>
  <subtitle>a really swell blog</subtitle>
  <link href="http://fakesite.nil/feed/" rel="self"/>
  <link href="http://fakesite.nil/"/>
  <updated><%%= Time.now.xmlschema %></updated>
  <author>
    <name>Author's Name</name>
    <email>author@fakesite.nil</email>
  </author>
  <id>http://fakesite.nil/</id>
  <%% @pages.find(:limit => 10,
                 :in_directory => 'articles',
                 :recursive => true,
                 :sort_by => 'created_at',
                 :reverse => true).each do |article| %>
  <entry>
    <title><%%= h(article.title) %></title>
    <link href="<%%= article.url %>"/>
    <id>tag:fakesite.nil,<%%= article.created_at.strftime('%Y-%m-%d') %>:<%%= article.created_at.to_i %></id>
    <updated><%%= article.created_at.xmlschema %></updated>
    <content type="html"><%%= h(article.render) %></content>
  </entry>
  <%% end %>
</feed>
