language: ruby
before_install: gem install bundler
bundler_args: --without yard guard metrics benchmarks
script: "bundle exec rake spec"
rvm:
  - ree
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - ruby-head
  - jruby-18mode
  - jruby-19mode
  - jruby-head
  - rbx-18mode
  - rbx-19mode
env:
  - "GIT_BRANCH=release-1.2 ADAPTER=in_memory"
  - "GIT_BRANCH=release-1.2 ADAPTER=yaml"
  - "GIT_BRANCH=release-1.2 ADAPTER=sqlite3"
  - "GIT_BRANCH=release-1.2 ADAPTER=mysql"
  - "GIT_BRANCH=release-1.2 ADAPTER=postgres"
notifications:
  email:
    - dan.kubb@gmail.com
